
            @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@








@using WebApplication1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div id="authorization" class="modal">
    <div class="modal__dialog">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <h3 class="form__title">Авторизация</h3>
            @Html.TextBoxFor(m => m.Email, new { @class = "form__input", placeholder = "Логин" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", placeholder = "Логин" })
            
            @Html.PasswordFor(m => m.Password, new { @class = "form__input", placeholder = "Пароль" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", placeholder = "Пароль" })
            
            <button type="submit" class="button form__button">Sign in</button>


            <div class="authorization__reg">
                Нет аккаунта?
                <a href="/Account/Register">Регистрация</a>
            </div>

            <i class="fas fa-times modal__close"></i>
        }
    </div>
        
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}