@using Sunrise2._0.Storage.Entity
@model Tour

@{
    ViewData["Title"] = Model.Hotel.Name;
}

<div class="tour">
    <div class="container">
        <div class="tour__dialog">
            <div class="tour__right">
                <div class="modalCarousel tour__carousel">
                    @foreach (var i in ViewBag.Images)
                    {
                        <div class="carousel__item">
                            @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(i.Data) + "\" />")
                        </div>
                    }
                </div>
                <div class="tour__title">@Model.Hotel.Name</div>
                <div class="tour__city">@Model.Hotel.Town.Region.Name, @Model.Hotel.Town.Name</div>
                <div class="tour__descr">@Model.Description</div>
                <div class="tour__rating">@Model.Rating <i class="far fa-heart"></i></div>


            </div>


            <div class="tour__left">

                <form method="post">

                    <div class="tour__option">
                        <label for="date-dep">День:</label>
                        <input id="date-dep" required type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" name="DateDep" value="" />

                    </div>

                    <div class="tour__option">
                        <label for="nights">Ночей:</label>
                        <input id="nights" type="number" min="1" max="30" name="Nights" value="1" />
                    </div>

                    <div class="tour__option">
                        <label for="adults">Взрослых:</label>
                        <input id="adults" type="number" min="1" max="30" name="Adults" value="1" />
                    </div>

                    <div class="tour__option">
                        <label for="children">Детей:</label>
                        <input id="children" type="number" min="0" max="30" name="Children" value="0" />
                    </div>





                    <div class="tour__option">
                        <input id="meals" name="Meals" type="checkbox" value="true" />
                        <input name="Meals" type="hidden" value="false" />
                        <label for="meals">
                            Питание:
                            <div>
                                <i class="fas fa-check"></i>
                            </div>
                        </label>

                    </div>



                    <div class="tour__option">
                        <input id="wifi" name="Wifi" type="checkbox" value="true" />
                        <input name="Wifi" type="hidden" value="false" />
                        <label for="wifi">
                            Wi-fi:
                            <div>
                                <i class="fas fa-check"></i>
                            </div>
                        </label>
                    </div>



                    <div class="tour__option" name="AirlineId">
                        <span>Авиакомпания:</span>

                        @foreach (var i in ViewBag.Airlines)
                        {
                            <span class="tour__radio">
                                <input type="hidden" value="@i.PriceMultiplier">
                                <input required name="AirlineId" id="@i.Name" type="radio" value="@i.Id">
                                <label for="@i.Name">@i.Name</label>
                            </span>
                        }


                    </div>



                    <input type="hidden" name="TourId" value="@Model.Id" />
                    <input type="hidden" id="tour-price" value="@Model.Price" />

                    <div class="tour__price">
                        <div>@Model.Price</div>
                        <span>РУБ</span>
                        <input type="hidden" name="Price" value="@Model.Price" />
                    </div>

                    <button type="submit" class="button tour__button">Заказать</button>
                </form>



            </div>
            <a href="~/Catalog" class="modal__close"><i class="fas fa-times"></i></a>
        </div>
    </div>
</div>

<script src="~/js/tour.js"></script>

