@using Sunrise2._0.Storage.Entity
@model IEnumerable<Tour>

@{
    ViewData["Title"] = "Tours";
}


<div class="service">
    <div class="container">
        <h3 class="service__title">Каталог</h3>
        <div class="service__descr">A responsive, retina-ready & wide multipurpose template.</div>
    </div>
</div>


<section class="catalog">
    <div class="container">


        <header class="catalog__header">
            <div class="row">
                <div class="col-md-6">
                    <div class="catalog__options">

                        @if (ViewBag.Sort == 1)
                        {
                            <a class="catalog__option" href="~/Catalog/Index?Sort=2">
                                По убыванию рейтинга
                                <i class="fas fa-sort-amount-down"></i>
                            </a>
                        }
                        else
                        {
                            <a class="catalog__option" href="~/Catalog/Index?Sort=1">
                                По возрастанию рейтинга
                                <i class="fas fa-sort-amount-down-alt"></i>
                            </a>
                        }
                        @if (ViewBag.Sort == 3)
                        {
                            <a class="catalog__option" href="~/Catalog/Index?Sort=4">
                                По убыванию цены
                                <i class="fas fa-sort-amount-down"></i>
                            </a>
                        }
                        else
                        {
                            <a class="catalog__option" href="~/Catalog/Index?Sort=3">
                                По возрастанию цены
                                <i class="fas fa-sort-amount-down-alt"></i>
                            </a>
                        }



                    </div>
                </div>


                <div class="col-md-6">
                    <form class="catalog__search" method="post" action="~/Catalog/Search">

                        <input type="text" id="search" placeholder="search" name="Name" value="@ViewBag.Name"/>
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header>







        <div class="catalog__content">
            <div class="row">



                @foreach (var t in Model)
                {
                    <div class="col-md-6">
                        <a href="~/Catalog/Buy?TourId=@t.Id" class="catalog-item">
                            <div class="catalog-item__img">
                                <img src="~/img/slider/slide1.jpg" alt="">
                            </div>
                            <div class="catalog-item__content">
                                <div class="catalog-item__title">@t.Hotel.Name</div>
                                <div class="catalog-item__city">@t.Hotel.Town.Region.Name, @t.Hotel.Town.Name</div>
                                <div class="catalog-item__price">
                                    @t.Price
                                    <span class="price__currency">РУБ</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</section>



